/* Style pour la boîte de dialogue */
.dialog {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 2px;
}

/* Style pour le titre de la boîte de dialogue */
.dialog-header {
    -fx-background-color: lightgray;
    -fx-padding: 10px;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}


/* Style pour les boutons */
.primary-button {
    -fx-background-color: #007bff;
    -fx-text-fill: white;
}

.secondary-button {
    -fx-background-color: #6c757d;
    -fx-text-fill: white;
}

.secondary-button:hover {
    -fx-background-color: #5a6268;
}

.primary-button:hover {
    -fx-background-color: #0069d9;
}